<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT API DOC SERVER</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>online server</h1>
    <div class="container-item">
        <div class="svg">
        </div>
    </div>
    <div class="container_btn">
        <a href="https://documenter.getpostman.com/view/24543958/2s93m7Wgyb" target="_blank" class="btn postman">Doc. PostMan</a> 
        <a href="https://github.com/luis1290/Chat_API" target="_blank" class="btn github">Code GitHub</a> 
    </div>
    <footer>
        <h3>Created by</h3>
        <a href="https://github.com/luis1290" target="_blank">Luis Gomez</a>
        <a href="https://github.com/Vinii21?tab=repositories" target="_blank">Vinicio Chavarría</a>
    </footer>
</body>
</html>